/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;800&display=swap");
@mixin mQ($rem) {
  @media screen and (min-width: $rem) {
    @content;
  }
}

$position: -0.375rem; */

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  min-height: 100vh;
}

/* img {
  max-width: 100%;
  display: block;
} */

/* ul {
  list-style-type: none;

  i {
    color: #fff;
    font-size: clamp(0.9rem, 0.825rem + 0.3vw, 1.2rem);

    &:hover {
      color: #f2709c;
    }
  }
} */

section {
  font-weight: 300;
  /* font-style: normal; */
  padding-block: min(20vh, 3rem);
  text-align: center;
  width: calc(min(95rem, 95%));
  margin-inline: auto;

  /* .cards {
    margin-top: 7rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(12rem, 100%), 1fr));
    gap: 2rem;
  } */
}
